@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

:root {
  --white-accent: #ffffff;
  --black-accent: #000000;
  --grey-accent: #8c8c8c;
  --dark-grey-accent: #696969;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--white-accent);
}

li {
  list-style: none;
}

.header {
  width: 100%;
  position: absolute;
  color: var(--white-accent);
  padding: 4rem 2rem;
  margin: 0 auto;
}

.nav {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  position: absolute;
  z-index: 2;
}

.mobile-menu,
.hamburger-container {
  display: none;
}

.hamburger-container {
  padding-right: 1.5rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  z-index: 2;
}

.hero-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

.hero-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
}

.banner-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100%;
  overflow: visible;
  margin: 0 auto;
}

.hero-wrapper {
  width: 100%;
  position: absolute;
  top: 35%;
  color: var(--white-accent);
  padding: 4rem 2rem;
  margin: 0 auto;
}

.hero-title {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hero {
  width: 100%;
  max-width: 800px;
  font-size: 6rem;
  /* font-size: clamp(2rem, 6vw, 6rem); */
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  color: var(--white-accent);
  border: 2px solid var(--white-accent);
  padding: 2.5rem;
}

.article-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding: 0 2rem;
}

.article-wrapper {
  width: 100%;
  position: relative;
  max-width: 1440px;
  margin: 0 2rem;
}

.article-img {
  object-fit: cover;
  width: 60%;
}

.article {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--white-accent);
  max-width: 750px;
  width: 50%;
  height: auto;
  max-width: 100%;
  padding: 6rem 6rem 0;
}

.article-title {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: clamp(0.5vw, 3.5vw, 4rem);
  margin-bottom: 2rem;
}

.article-content {
  font-family: "Alata", sans-serif;
  color: var(--dark-grey-accent);
  line-height: 1.5;
  font-size: clamp(0.5vw, 1.2vw, 1rem);
}

.creations-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 15vh auto;
  padding: 0 2rem;
}

.creations-wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.creations-title-container {
  display: flex;
  justify-content: space-between;
}

.creations-title {
  font-family: "Josefin sans", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
}

.btn {
  background: none;
  border: 2px solid var(--black-accent);
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  letter-spacing: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0rem 3rem;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.mobile-btn {
  display: none;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: var(--black-accent);
  color: var(--white-accent);
}

.grid-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20rem;
  padding: 0 2rem;
}

.grid-list {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 0 auto;
}

.grid-item {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in-out;
}

.figcaption {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--white-accent);
  padding: 2.5rem;
  width: 100%;
  transition: 0.4s ease-in-out;
}

.grid-item:hover .overlay {
  background: rgba(255, 255, 255, 0.5);
}

.grid-item:hover .figcaption {
  color: black;
}

.desktop-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-img {
  display: none;
}

.footer-container {
  background: var(--black-accent);
  padding: 0 2rem;
}

.footer-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  cursor: pointer;
}

.footer-links {
  display: flex;
  gap: 2rem;
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  cursor: pointer;
}

.copyright {
  color: var(--dark-grey-accent);
  font-family: "Alata", sans-serif;
  margin-top: 2rem;
  font-weight: 100;
}

.attribution {
  color: var(--dark-grey-accent);
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding: 0 0 2rem;
}

.attribution > a {
  color: var(--white-accent);
}

.attribution > a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .grid-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .hamburger-container {
    display: block;
  }

  .hamburger,
  .close-nav {
    position: absolute;
    z-index: 2;
    cursor: pointer;
  }

  .close-nav {
    display: none;
  }

  .mobile-menu {
    background: black;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    padding: 0 2rem;
    transition: transform 0.5s ease-in-out;
  }

  .active {
    transform: translateX(0);
  }

  .hidden {
    visibility: hidden;
  }

  .mobile-nav-links-item {
    margin: 2rem 0;
  }

  .mobile-nav-links {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    color: var(--white-accent);
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }

  .mobile-nav-links:hover,
  .mobile-nav-links:focus,
  .mobile-nav-links:active {
    color: var(--dark-grey-accent);
  }

  .nav-links {
    display: none;
  }

  .hero {
    width: 100%;
    font-size: 10vw;
    margin: 0 auto;
  }

  .article-container {
    height: 100%;
    min-height: 100%;
  }

  .article-img-container {
    display: flex;
    flex-direction: column;
  }

  .article {
    position: relative;
    padding: 0 2rem;
    text-align: center;
    width: 100%;
  }

  .article-img {
    object-fit: cover;
    width: 100%;
    margin: 8rem 0 4rem;
  }

  .article-title {
    font-size: 2.6rem;
  }

  .article-content {
    font-size: 3vw;
  }

  .grid-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-container {
    margin: 4rem 0 10rem;
  }

  .figcaption {
    font-size: 6vw;
    padding: 1.5rem;
  }

  .creations-container {
    margin: 10rem auto 2rem;
  }

  .creations-wrapper {
    justify-content: center;
  }

  .creations-title {
    font-size: 2.6rem;
  }

  .btn {
    display: none;
  }

  .mobile-btn-container {
    display: flex;
    justify-content: center;
    margin: 4rem;
  }

  .mobile-btn {
    display: block;
    background: none;
    border: 2px solid var(--black-accent);
    text-transform: uppercase;
    font-family: "Alata", sans-serif;
    letter-spacing: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    align-self: center;
  }

  .mobile-btn:hover,
  .mobile-btn:active,
  .mobile-btn:focus {
    background: var(--black-accent);
    color: var(--white-accent);
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
    width: 100%;
  }

  .footer-wrapper,
  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .social-links {
    justify-content: center;
    margin: 4rem 0 1rem;
  }
}
